<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Allow HTTP for localhost license server testing -->
    <application android:usesCleartextTraffic="true"
        tools:targetApi="35" />

</manifest>
